@media screen and (max-width:768px) {
    .allCards{
        grid-template-columns: repeat(1,1fr) !important;
        text-align: center;
        grid-gap: 8%;
    }
    .container{
        width: 50%;
    }
    .mainHead {
        margin-bottom: 16%;
    }

}
@media screen and (max-width:768px) {
    .allCards{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        grid-gap: 8%;
    }
    .container{
        width: 50% !important;
    }
    .mainHead {
        margin-bottom: 16%;
        font-size: 27px;
    }
}
@media screen and (max-width:992px) {
    .allCards{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        text-align: center;
        grid-gap: 7%;
    }
    .container{
        width: 90%;
    }

}
@media screen and (max-width:1200px) {
    .container{
        width: 90%;
    }

}